#home{
    background-color: #f4f4f4;
}

#home #homeHeader{
    background-color: #fff;
}

#home #search{
    padding: 0.21333rem 0.4rem;
    display: flex;
    align-items: center;
    position: relative;
}

#home #searchLogo{
    width: 1.84rem;
    height: 0.53333rem;
    background-image: url(../img/home_searchLogo.png);
    margin-right: 0.26667rem;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

#home #searchIcon{
    width: 0.37333rem;
    height: 0.37333rem;
    margin-right: 0.13333rem;
    background-image: url(../img/home_searchIcon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    position: absolute;
    left: 3.5rem;
}

#home #searchIpt{
    width: calc(100% - 2rem);
    height: .74667rem;
    padding: 0;
    font-size: 0.37333rem;
    text-align: center;
    background-color: #ededed;
    border-radius: 0.10667rem;
    outline: none;
    border: none;
    display: inline-block;
}

#home #homeMenuWrapper{
    display: inline-block;
    width: auto;
    padding: 0 .4rem;
    white-space: nowrap;
}

#home #homeMenuContainer .swiper-slide{
    display: inline-block;
    width: 1.18rem;
    margin-left: 0.64rem;
}
#home #homeMenuContainer .swiper-slide:nth-of-type(1){
    margin-left: 0;
}
#home #homeMenuContainer .swiper-slide:nth-last-of-type(1){
    margin-right: 0.8rem;
}

#home #homeMenuWrapper .active{
    border-bottom: .05333rem solid #b4282d;
}

#home #homeMenuWrapper .active .cateText{
    color: #b4282d;
}

#home #homeMenuContainer .cateText{
    display: inline-block;
    padding: 0 0.21333rem;
    line-height: 0.8rem;
    font-size: 0.37333rem;
    color: #333;
    text-align: center;
}

#home #homeBannerContainer img{
    width: 100%;
    height: 100%;
}

#home #homeBannerPagination span{
    width: 0.53333rem;
    height: 0.05333rem;
    display: inline-block;
    background: #fff;
    opacity: 0.4;
    border-radius: 0;
    margin: 0 0.13333rem 0 0;
}

#home #growItem{
    width: 100%;
    height: .96rem;
    padding: 0 .4rem;
    line-height: .96rem;
    background-color: #fff;
    margin-bottom: .26667rem;
}

#home #growItem .item{
    float: left;
    margin-right: .10667rem;;
}

#home #growItem .itemIcon{
    background-image:url(../img/home_growIcon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: .42667rem;
    height: .42667rem;
    display: inline-block;
    vertical-align: middle;
}

#home #growItem .itemText{
    font-size: .32rem;
    color: #333;
    line-height: .42667rem;
    display: inline-block;
    vertical-align: middle;
}

#home .homeGoodGrid{
    margin-bottom: .26667rem;
    background-color: #fff;
    position: relative;
}

#home .goodGridTitle{
    line-height: 1.6rem;
    text-align: center;
    font-size: .37333rem;
    color: #333;
    position: relative;
    /*border-bottom: 0.03125rem solid red;*/
}

#home .goodGridList{
    overflow: hidden;
}

#home .goodGridItem{
    float: left;
    width: 50%;
    padding: 0 0 .4rem;
    position: relative;
    border-top: 0.03125rem solid #d9d9d9;
    border-right: 0.03125rem solid #d9d9d9;
}
#home .goodGridList li:nth-of-type(2n){
    border-right: none;
}
#home .goodGridList li:nth-last-of-type(2){
    border-bottom: 0.03125rem solid #d9d9d9;
}

#home .itemWraper{
    position: relative;
    padding: .18667rem .4rem 0;
}

#home .itemWraper img{
    display: block;
    width: 100%;
    height: 100%;
}

#home .goodGridItem .itemName{
    margin: .25333rem auto .13333rem;
    padding: 0 .26667rem;
    line-height: 1.2;
    text-align: center;
    font-size: .37333rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
}

#home .goodGridItem .price{
    line-height: 1;
    font-size: .42667rem;
    text-align: center;
    color: #b4282d;
}

#home .specification{
    position: absolute;
    border: .5px solid #b4a078;
    border-radius: .05333rem;
    width: .42667rem;
    top: 0;
    margin-top: .21333rem;
    margin-left: .33333rem;
    padding: .16rem 0;
    color: #b4a078;
}

#home .specification div{
    font-size: .26667rem;
    text-align: center;
    line-height: 1;
}

#home .goodGridItemMore{
    float: left;
    width: 50%;
    padding: 0 0 .4rem;
    border-top: 0.03125rem solid #d9d9d9;
    border-right: 0.03125rem solid #d9d9d9;
}

#home .goodGridItemMore .ItemMore{
    display: block;
    padding-top: 1.97333rem;
    padding-bottom: 1.72rem;
    width: 100%;
    text-align: center;
}

#home .goodGridItemMore .txt{
    color: #333;
    font-size: .42667rem;
    line-height: 1.5;
    margin-bottom: .8rem;
}

#home .goodGridItemMore .goodGridMoreIcon{
    background-image: url(../img/home_more.png);
    width: .89333rem;
    height: .89333rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#home #ftWrap{
    border-top: 1px solid rgba(0,0,0,.15);
    background-color: #414141;
    text-align: center;
    padding: .72rem .26667rem .37333rem;
}

#home .goApp{
    margin-right: .66667rem;
}

#home .goWeb, #home .goApp{
    width: 2.29333rem;
    line-height: .82667rem;
    display: inline-block;
    font-size: .32rem;
    color: #fff;
    border: 1px solid #999;
    border-radius: 4px;
}

#home .copyright{
    margin-top: .48rem;
}

#home .copyright span{
    font-size: .32rem;
    line-height: .42667rem;
    color: #999;
}
