*{
    box-sizing: border-box;
}

#tabBar{
    width: 100%;
    height: 1.30667rem;
    border-top: 0.03125rem solid #d9d9d9;
    background-color: #fafafa;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 5;
    left: 0;
    bottom: 0;
}

#tabBar .item{
    position: relative;
    text-align: center;
    /* 去掉 a 标签点击时的颜色 */
    -webkit-tap-highlight-color: transparent;
}

#tabBar .icon{
    width: 0.53333rem;
    height: 0.53333rem;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/tabBarIcon.png);
    background-size: .53333rem 6.53333rem;
    background-repeat: no-repeat;
}

#tabBar .active .iconTxt{
    color: #b4282d;
}

#tabBar .homeIcon{
    background-position: 0 -3.33333rem;
}
#tabBar .active .homeIcon{
    background-position: 0 -2.66667rem;
}

#tabBar .topicIcon{
    background-position: 0 -4.66667rem;
}
#tabBar .active .topicIcon{
    background-position: 0 -4rem;
}

#tabBar .sortIcon{
    background-position: 0 -2rem;
}
#tabBar .active .sortIcon{
    background-position: 0 -1.33333rem;
}

#tabBar .cartIcon{
    background-position: 0 -.66667rem;
}
#tabBar .active .cartIcon{
    background-position: 0 0;
}

#tabBar .mineIcon{
    background-position: 0 -6rem;
}
#tabBar .active .mineIcon{
    background-position: 0 -5.33333rem;
}

#tabBar .iconTxt{
    display: block;
    margin-top: 0.09333rem;
    font-size: 0.32rem;
    color: #666;
    line-height: 1;
}
