/* 头部 */
#sort #sortHeader{
    width: 100%;
    border-bottom: 0.03125rem solid rgba(0,0,0,.15);
    background-color: #fff;
    position: relative;
    left: 0;
    top: 0;
}

#sort #search{
    height: 1.17333rem;
    line-height: 1.17333rem;
    padding: 0 .4rem;
    position: relative;
}

#sort #searchIcon{
    width: 0.37333rem;
    height: 0.37333rem;
    background-image: url(../img/home_searchIcon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    position: absolute;
    left: 2.5rem;
    top: 0.4rem;
}

#sort #searchIpt{
    width: 100%;
    height: .74667rem;
    font-size: .37333rem;
    background-color: #ededed;
    border-radius: .10667rem;
    padding: 0;
    text-align: center;
    outline: none;
    border: none;
}

/* 侧边菜单栏 */
#sort #cateNav{
    width: 2.16rem;
    padding: .53333rem 0;
    border-right: 0.03125rem solid rgba(0,0,0,.15);
    position: absolute;
    top: 1.17333rem;
    left: 0;
    bottom: 1.30667rem;
}

#sort .cateItem{
    width: 100%;
    margin-top: .53333rem;
}

#sort .cateItem:nth-of-type(1){
    margin-top: 0;
}

#sort .cateTxt{
    display: block;
    color: #333;
    font-size: .37333rem;
    height: 0.66667rem;
    line-height: .66667rem;
    text-align: center;
}

#sort #cateNav .active .cateTxt{
    font-size: .48rem;
    color: #ab2b2b;
    border-left: .08rem solid #ab2b2b;
}

/* 分类列表 */
#sort #cateList{
    width: 7.83125rem;
    padding: .4rem .4rem .28rem;
    margin-left: 2.16rem;
}
