<div id="mine">
    <div id="myProfile">
        <div id="infoWrap">
            <img id="avatar" src="./img/mine_avatar.jpg">
            <div id="info">
                <p id="nickname">CMF</p>
                <span id="memberType">普通用户</span>
            </div>
        </div>
    </div>
    <div id="myMenu">
        <ul id="list">
            <li class="item">
                <a class="menuItem" href="javascript:;" title="我的订单">
                    <i class="menuIcon"></i>
                    <span class="menuTxt">我的订单</span>
                </a>
            </li>
            <li class="item">
                <a class="menuItem" href="" title="周六一起拼">
                    <i class="menuIcon"></i>
                    <span class="menuTxt">周六一起拼</span>
                </a>
            </li>
            <li class="item">
                <a class="menuItem" href="" title="售后服务">
                    <i class="menuIcon"></i>
                    <span class="menuTxt">售后服务</span>
                </a>
            </li>
            <li class="item">
                <a class="menuItem" href="" title="优惠券">
                    <i class="menuIcon"></i>
                    <span class="menuTxt">优惠券</span>
                </a>
            </li>
            <li class="item">
                <a class="menuItem" href="" title="礼品卡">
                    <i class="menuIcon"></i>
                    <span class="menuTxt">礼品卡</span>
                </a>
            </li>
            <li class="item">
                <a class="menuItem" href="" title="会员福利">
                    <i class="menuIcon"></i>
                    <span class="menuTxt">会员福利</span>
                </a>
            </li>
            <li class="item">
                <a class="menuItem" href="" title="地址管理">
                    <i class="menuIcon"></i>
                    <span class="menuTxt">地址管理</span>
                </a>
            </li>
            <li class="item">
                <a class="menuItem" href="" title="帐号安全">
                    <i class="menuIcon"></i>
                    <span class="menuTxt">帐号安全</span>
                </a>
            </li>
            <li class="item">
                <a class="menuItem" href="" title="联系客服">
                    <i class="menuIcon"></i>
                    <span class="menuTxt">联系客服</span>
                </a>
            </li>
            <li class="item">
                <a class="menuItem" href="" title="帮助中心">
                    <i class="menuIcon"></i>
                    <span class="menuTxt">帮助中心</span>
                </a>
            </li>
            <li class="item">
                <a class="menuItem" href="" title="意见反馈">
                    <i class="menuIcon"></i>
                    <span class="menuTxt">意见反馈</span>
                </a>
            </li>
        </ul>
    </div>
    <div id="exitBtn">退出登录</div>
</div>