<div id="sortSubPage">
    <div class="banner" style="background-image:url({{ livingHome.currentCategory.bannerUrl }});">
        <div class="cnt">{{ livingHome.currentCategory.frontName }}</div>
    </div>
    <div class="cateList">
        <div class="hd">
            <span class="text">
                <span>{{ livingHome.currentCategory.name }}</span><span>分类</span>
            </span>
        </div>
        <ul class="list">
            <li class="cateItem">
                <a href="">
                    <div class="cateImgWrapper">
                        <img src="" class="cateImg">
                    </div>
                    <div class="name">{{  }}</div>
                </a>
            </li>
        </ul>
    </div>
</div>