<div id="sort">
    <!-- 头部 -->
    <div id="sortHeader">
        <div id="search">
            <i id="searchIcon"></i>
            <input type="text" id="searchIpt" placeholder="商品搜索, 共4098款好物" />
        </div>
    </div>
    <!-- 侧边菜单 -->
    <ul id="cateNav">
        <li class="cateItem active" ui-sref=".sortSubPage">
            <a class="cateTxt">推荐</a>
        </li>
        <li class="cateItem" ui-sref=".sortSubPage" ng-repeat="cateItem in cateList">
            <a class="cateTxt">{{ cateItem.name }}</a>
        </li>
    </ul>
    <!-- 分类列表 -->
    <div id="cateList" ui-view="view" >
        
    </div>
</div>